<div class="center">
  <h1>Spend 💰</h1>

  <input id="name" placeholder="Name" class="transactionText"><br>

  <input id="amount" type="number" placeholder="Spend amount" step="0.01" min="0" class="transactionText"><br>

  <input id="description" placeholder="Description" class="transactionText"><br>

  <select id="category" class="transactionText"></select><br>

  <input id="date" type="date" class="transactionText"><br>

  <button type="button" class="submitButton" id="submitButton" onClick={addTransaction()}>Submit</button>
</div>

<script>
  // Set today's date
  let myDate = document.querySelector('#date');
  var date = new Date();
  let today = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)); // timezone offset
  myDate.value = today.toISOString().substr(0, 10);

  // GET categories
  axios.get('http://localhost:3000/api/get-categories')
    .then((res) => {
      res.data.forEach(category => {
        let option = document.createElement("option");
        option.text = category.NAME;
        option.value = category.ID;
        let select = document.querySelector("#category");
        select.appendChild(option);
      });
    })
    .catch((err) => {
      console.log(err)
    });

  function addTransaction() {
    let name = document.querySelector('#name');
    let category = document.querySelector('#category');
    let amount = document.querySelector('#amount');
    let description = document.querySelector('#description');
    let date = document.querySelector('#date');
    let submit = document.querySelector('#submitButton');
    let inputs = [name, category, amount, description, date];

    const requestBody = {
      NAME: name.value,
      CATEGORY: category.value,
      AMOUNT: amount.value,
      DESCRIPTION: description.value,
      DATE: date.value
    }

    toggleInputs(inputs); // disable inputs

    const config = {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }
    let data = new URLSearchParams(requestBody).toString();
    axios.post('http://localhost:3000/api/add-transaction', data, config)
      .then((result) => {
        // push snackbar success
        snackbar("Transaction added ✅");
        toggleInputs(inputs); // enable inputs
      })
      .catch((err) => {
        // push snackbar failure
        snackbar("Error ⚠️");
        toggleInputs(inputs); // enable inputs
      })
  }

  function toggleInputs(elements) {
    for (e of elements) {
      if (e.disabled === false) {
        e.disabled = true;
      } else {
        // if not date, category, or submit button, clear value
        if (e.id !== "date" && e.id !== "category" && e.id !== "submitButton")
          e.value = "";
        e.disabled = false;

      }
    }
  }

  function snackbar(text) {
    // Get the snackbar DIV
    let sb = document.querySelector("#snackbar");

    // Add the "show" class to DIV
    sb.innerHTML = text;
    sb.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function () { sb.className = sb.className.replace("show", ""); }, 3000);
  }
</script>